/* CSS Default */
acronym {
 border-bottom: 1px dashed #ccc; 
}
s, strike, del {
  text-decoration: line-through; 
}
span.amp {
   font-family:Baskerville, "Baskerville BT", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
   font-size:110%;
   font-style:italic;
	}

/* CSS WordPress */
.wp-caption {
	margin-bottom: 20px;
	text-align: center;
	overflow: hidden;
	max-width: 528px !important;
	height: auto;
}
.wp-caption img {
	margin: 5px;
	border: none;
  margin: 0 0 2px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px 0 5px 0;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}

.sticky {
 border: 1px dashed #ccc;
 padding: 10px;
 background-color: #f9f9f9; 
}